* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    margin: 5px 0;
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #6441A5;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2a0845, #6441A5);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2a0845, #6441A5);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    button {
        background-color: transparent;
        border: white 5px solid;
        padding: 5px;
        border-radius: 10px;
    }

    input {
        background-color: transparent;
        border: white 5px solid;
        padding: 5px;
        border-radius: 10px;
    }

    input:disabled,
    button:disabled {
        background-color: rgb(95, 95, 95);
    }

    .try-again {
        display: none;
        padding: 10px 50px;
    }

    .game-form {
        display: none;
    }
}