* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffffff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 1.1em;
}

input {
    background-color: transparent;
    border: white 5px solid;
    padding: 5px;
    border-radius: 10px;
}

button {
    background-color: transparent;
    padding: 5px;
    width: 120px;
    border: white 5px solid;
    font-size: 20px;
    border-radius: 10px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background: #141E30;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    .calculator {
        .arithmetic-display {
            width: 40px;
        }

        .arithmetics {
            text-align: center;
            margin-top: 10px;
            background: transparent;

            option {
                background: transparent;
                color: #141E30;
            }

            :hover {
                background-color: rgba(20, 30, 48, 0.479);
            }

            :active {
                background-color: rgb(20, 30, 48);
            }
        }
    }
}